body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('../img/background1.jpg') no-repeat center center/cover;
}

#root {
    width: 100%;
    padding: 10px;
}

.login-container {
    max-width: 410px;
    background: #ffffff;
    margin: 0 auto;
    padding: 0px 20px;
    border-radius: 10px;
}

.button-close button {
    margin-bottom: 15px;
    border: none;
    background: none;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.sosial-login .sosial-button {
    display: flex;
    margin: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0;
    width: 100%;
    height: 35px;
    gap: 10px; /* Space between the icon and text */
    cursor: pointer;
    padding: 2px;
    align-items: center; /* Vertically center content */
    justify-content: flex-start; /* Align content to the left */
    font-size: 13px;
    font-weight: 500;
    border-radius: 7px;
    background: #000;
    color: #fff;
    border: 1px solid #D5CBFF;
    transition: 0.1s ease;
}

.sosial-login .sosial-button:hover {
    background: #737373;
    border-color: #000;
}

.sosial-login .sosial-button .sosial-icon {
    width: 23px;
    margin-left: 10px ;
    margin-right: 30px;
    text-align: center; /* Space between the icon and text */
}


.login-container .separator {
    margin: 10px;
    text-align: center;
    position: relative;
}

.login-container .separator span {
    position: relative;
    z-index: 1;
    background: #ffffff;
    padding: 0 0.9rem;
    font-size: 13px;
    font-weight: 500;
}

.login-container .separator::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #000;
}

.login-form .input-wrapper {
    display: flex;
    margin: 10px;
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;
    height: 35px;
    cursor: pointer;
    padding: 2px;
}

.login-form .input-wrapper .input-field {
    height: 100%;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid;
    padding: 0 10px;
    transition: 0.2s ease;
}

.login-form .input-wrapper .input-field:focus {
    border-color: #737373;
}

.login-form .input-wrapper .input-field::placeholder {
    color: #737373;
}

.login-form .login-button {
    width: 100%;
    height: 35px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #000;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 7px;
    margin-top: 10px;
    transition: 0.1s ease;
}

.login-form .login-button:hover {
    background: #737373;
    border-color: #000;
}

.login-container .signup-text {
    text-align: center;
    font-weight: 500;
    margin: 10px;
}

.login-container a {
    color: blue;
    font-weight: 500;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container .forgot-password {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* register */

.signup-form .input-wrapper {
    display: flex;
    margin: 10px;
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;
    height: 35px;
    cursor: pointer;
    padding: 2px;
}

.signup-form .input-wrapper .input-field {
    height: 100%;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid;
    padding: 0 10px;
    transition: 0.2s ease;
}

.signup-form select {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 7px;
}

.signup-form .signup-button {
    width: 100%;
    height: 35px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #000;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 7px;
    margin-top: 10px;
    transition: 0.1s ease;
}

.signup-form .signup-button:hover {
    background: #737373;
    border-color: #000;
}
